
.headerStyle {
    color: #fff;
    background: #001429;
    padding: 20px;
    font-family: 'sans-serif';
    text-align: center;
  }
  
.missionStyle {
    font-family: 'sans-serif';
    width: 48%;
  }
  
.buttonStyle {
    padding: 10px 15px;
    margin: 10px;
    background-color: #0099cc;
    color: white;
    border: none;
    cursor: pointer;
  }
  
.moduleStyle {
    display: flex;
    justify-content: space-around;
  }

.linkStyle {
    text-decoration: none;
  }

.imageStyle {
  width: 20%;
}
  